[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "*"
parse = "*"
parsel = "*"
urllib3 = "*"
clean-text = "*"
rich = "*"
pandas = "*"
numpy = "*"
[dev-packages]

[requires]
python_version = "3.11"
